.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* code */

.row {
  margin-right: 0px;
}

/* .navbar-top, .header{
  background-color: #ce032d!important;
} */

.administrator {
  float: right !important;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-width: 100% !important;
  max-height: 6rem !important;
}

/* select */

.css-yk16xz-control,
.css-1pahdxg-control{
  border-radius: 5rem !important;
  border: none !important;
  background: rgb(241, 241, 241) !important;
  color : rgb(92, 91, 91) !important;
  width: 10rem !important;
  box-shadow: none !important;
  font-size: 12px !important;
}

.css-1wa3eu0-placeholder{
  padding: 8px;
  font-size: 14px;
}

.css-26l3qy-menu{
  box-shadow: none !important;
  font-size: 12px !important;
  
}
.css-4ljt47-MenuList{
  width: 10rem !important;
  max-height: 35rem !important;
}
.css-tlfecz-indicatorContainer,
.css-1hb7zxy-IndicatorsContainer{
  display: none !important;
}

.map-style{
  margin: -5rem 0 0 11rem !important;
}
.leaflet-container{
  border-radius: 1rem !important;
}

.detail-box{
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
}

.detail-box h6{
  color: gray
}

/* buat 1 page isinya menampilkan jumlah kasus covid terakhir dan juga menampilkan kasus pernegara, mockup sesuai kreativitas */

/* pake getLatestTotal, getLatestAllCountriesByCode, getListOfCountries */

/* kontrak, mediatron */